"""Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT."""

import requests as requests_http
from . import utils
from neon_api.models import operations, shared
from typing import Optional

class Operation:
    r"""These methods allow you to view operation details for your Neon project. For related information, see [Operations](https://neon.tech/docs/manage/operations)."""
    _client: requests_http.Session
    _security_client: requests_http.Session
    _server_url: str
    _language: str
    _sdk_version: str
    _gen_version: str

    def __init__(self, client: requests_http.Session, security_client: requests_http.Session, server_url: str, language: str, sdk_version: str, gen_version: str) -> None:
        self._client = client
        self._security_client = security_client
        self._server_url = server_url
        self._language = language
        self._sdk_version = sdk_version
        self._gen_version = gen_version
        
    
    def get_project_operation(self, request: operations.GetProjectOperationRequest) -> operations.GetProjectOperationResponse:
        r"""Get operation details
        Retrieves details for the specified operation.
        An operation is an action performed on a Neon project resource.
        You can obtain a `project_id` by listing the projects for your Neon account.
        You can obtain a `operation_id` by listing operations for the project.
        """
        base_url = self._server_url
        
        url = utils.generate_url(operations.GetProjectOperationRequest, base_url, '/projects/{project_id}/operations/{operation_id}', request)
        headers = {}
        headers['Accept'] = 'application/json;q=1, application/json;q=0'
        headers['user-agent'] = f'speakeasy-sdk/{self._language} {self._sdk_version} {self._gen_version}'
        
        client = self._security_client
        
        http_res = client.request('GET', url, headers=headers)
        content_type = http_res.headers.get('Content-Type')

        res = operations.GetProjectOperationResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.OperationResponse])
                res.operation_response = out
        else:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.GeneralError])
                res.general_error = out

        return res

    
    def list_project_operations(self, request: operations.ListProjectOperationsRequest) -> operations.ListProjectOperationsResponse:
        r"""Get a list of operations
        Retrieves a list of operations for the specified Neon project.
        You can obtain a `project_id` by listing the projects for your Neon account.
        The number of operations returned can be large.
        To paginate the response, issue an initial request with a `limit` value.
        Then, add the `cursor` value that was returned in the response to the next request.
        """
        base_url = self._server_url
        
        url = utils.generate_url(operations.ListProjectOperationsRequest, base_url, '/projects/{project_id}/operations', request)
        headers = {}
        query_params = utils.get_query_params(operations.ListProjectOperationsRequest, request)
        headers['Accept'] = 'application/json;q=1, application/json;q=0'
        headers['user-agent'] = f'speakeasy-sdk/{self._language} {self._sdk_version} {self._gen_version}'
        
        client = self._security_client
        
        http_res = client.request('GET', url, params=query_params, headers=headers)
        content_type = http_res.headers.get('Content-Type')

        res = operations.ListProjectOperationsResponse(status_code=http_res.status_code, content_type=content_type, raw_response=http_res)
        
        if http_res.status_code == 200:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[operations.ListProjectOperations200ApplicationJSON])
                res.list_project_operations_200_application_json_object = out
        else:
            if utils.match_content_type(content_type, 'application/json'):
                out = utils.unmarshal_json(http_res.text, Optional[shared.GeneralError])
                res.general_error = out

        return res

    